.spa {
  padding-bottom: 20vh;
  /* position: relative; */
}

.back {
  border-radius: 100%;
  width: 4rem;
  aspect-ratio: 1/1;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transition: all 0.3s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}

.back:hover {
  scale: 1.1;
}

.back:before {
  content: "Go Back";
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: -2rem;
  width: 100px;
  text-align: center;
  font-family: var(--header-font);
  color: var(--text-color);
  transition: all 0.3s;
}

.back:hover:before {
  visibility: visible;
  opacity: 1;
}
