.post {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  transition: 00.3s;
  border-radius: 10px;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.post:hover {
  background: rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.post_image {
  align-self: center;
  padding: 0 0 10px 0;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.post_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post_title {
  font-family: var(--header-font);
  font-size: 30px;
}
.post_desc {
  text-align: justify;
  font-size: 20px;
  font-family: var(--sub-header-font);
}

.post_time,
.post_date {
  color: rgb(184, 184, 184);
  padding: 20px;
  font-size: 20px;
  font-family: var(--sub-header-font);
}

.post_title,
.post_desc {
  padding: 10px 20px 0 20px;
}

.read_icon {
  font-size: 20px;
  margin: 3px 7px 7px 5px;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .post_title {
    font-size: 25px;
  }
  .post_desc {
    font-size: 15px;
  }

  .post_time,
  .post_date {
    font-size: 15px;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .post_title {
    font-size: 25px;
  }
  .post_desc {
    font-size: 15px;
  }

  .post_time,
  .post_date {
    font-size: 15px;
  }
}
