.skills {
  font-family: var(--header-font);
  background-color: #15f4ee; /* Changing background color */
  border-radius: 20px; /* Making border radius */
  height: auto; /* Making auto-sizable height */
  font-size: 12px; /* Changing font size */
  margin: 2px;
  padding: 2px;
  transition: 0.2s;
  color: black;
  text-align: center;
}

.skills:hover {
  transform: scale(1.05);
  cursor: default;
}

/* Mobile */
@media screen and (max-width: 480px) {
  .skills {
    border-radius: 15px; /* Making border radius */
    font-size: 8px; /* Changing font size */
  }
}
