/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --accent-color: #ff5aac;
  --primary-color: #102a43;
  --secondary-color: #112240;
  --text-color: #d9e2ec;

  --header-font: Mont Bold;
  --sub-header-font: Mont Reg;
  --body-font: Mont Thin;
}

html {
  background-color: var(--primary-color);
}

body {
  overflow-x: hidden;
}

a {
  color: black !important;
}

.content {
  background-color: var(--primary-color);
  padding: 10px 10px 10px 10px;
  padding-top: 5vw;
}

.header {
  font-family: var(--header-font);
  font-size: 50px;
  color: var(--text-color);
  margin-bottom: 50px;
  margin-top: -15px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.ScrollbarsCustom-Track,
.ScrollbarsCustom-TrackY {
  background: var(--primary-color) !important;
  width: 7px !important;
  transition: width 0.3s;
}

.ScrollbarsCustom-Track:hover,
.ScrollbarsCustom-TrackY:hover {
  width: 10px !important;
}

.ScrollbarsCustom-Thumb,
.ScrollbarsCustom-ThumbY {
  background: #364e69 !important;
  transition: width 0.3s;
}

.ScrollbarsCustom-Thumb:hover,
.ScrollbarsCustom-ThumbY:hover {
  background: #5d84ad !important;
  width: 10px !important;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .header {
    font-family: var(--header-font);
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 50px;
    margin-top: -15px;
  }
  .content {
    padding-top: 15vw;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .header {
    font-family: var(--header-font);
    font-size: 25px;
    color: var(--text-color);
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .content {
    padding-top: 30vw;
  }
}

/* Fonts*/

@font-face {
  font-family: Brandon Bold;
  src: url(fonts/brandon_bld.otf);
}

@font-face {
  font-family: Brandon Regular;
  src: url(fonts/brandon_reg.otf);
}

@font-face {
  font-family: Print Bold;
  src: url(fonts/print_bold_ot.otf);
}

@font-face {
  font-family: Print Regular;
  src: url(fonts/print_clearly_ot.otf);
}

@font-face {
  font-family: Bolliver;
  src: url(fonts/bolliver.ttf);
}

@font-face {
  font-family: Mont Bold;
  src: url(fonts/MontserratBold-p781R.otf);
}

@font-face {
  font-family: Mont Reg;
  src: url(fonts/MontserratRegular-BWBEl.ttf);
}

@font-face {
  font-family: Mont Thin;
  src: url(fonts/MontserratThin-K7B6D.ttf);
}
