/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --accent-color: #ff5aac;
  --primary-color: #102a43;
  --secondary-color: #112240;
  --text-color: #d9e2ec;

  --header-font: Mont Bold;
  --sub-header-font: Mont Reg;
  --body-font: Mont Thin;
}

html {
  background-color: var(--primary-color);
}

body {
  overflow-x: hidden;
}

a {
  color: black !important;
}

.content {
  background-color: var(--primary-color);
  padding: 10px 10px 10px 10px;
}

.header {
  font-family: var(--header-font);
  font-size: 50px;
  color: var(--text-color);
  margin-bottom: 50px;
  margin-top: -15px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.ScrollbarsCustom-Track,
.ScrollbarsCustom-TrackY {
  background: var(--primary-color) !important;
  width: 7px !important;
  transition: width 0.3s;
}

.ScrollbarsCustom-Track:hover,
.ScrollbarsCustom-TrackY:hover {
  width: 10px !important;
}

.ScrollbarsCustom-Thumb,
.ScrollbarsCustom-ThumbY {
  background: #364e69 !important;
  transition: width 0.3s;
}

.ScrollbarsCustom-Thumb:hover,
.ScrollbarsCustom-ThumbY:hover {
  background: #5d84ad !important;
  width: 10px !important;
}

/* Navbar styling */

.navbar {
  background-color: var(--primary-color) !important;
}

.nav-link {
  font-family: var(--sub-header-font);
  font-size: x-large;
  margin-top: 3px;
  color: var(--text-color) !important;
}

.navbar-toggler-icon {
  background-image: url(https://img.icons8.com/android/24/ffffff/menu.png) !important;
}

/* Modal Styling */

.projectGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-bottom: 50px;
}

.projectThumbnail {
  width: 250px;
  height: 250px;
  transition: 0.3s;
  cursor: pointer;
  object-fit: cover;
  opacity: 0.6;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectThumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
}

.modal-content {
  background-color: var(--secondary-color) !important;
}

.modal-header {
  border-bottom: 0 !important;
}
.modal-body {
  border-top: 0 !important;
}

.close {
  color: white !important;
  font-size: xx-large !important;
}

.projectTitle {
  line-height: 70%;
  font-size: x-large;
  padding-top: 5%;
  font-family: var(--header-font);
  color: var(--accent-color);
}

.projectSubtitle {
  font-size: large;
  color: grey;
  font-family: var(--header-font);
  color: var(--text-color);
}

.projectBody1 {
  font-size: medium;
  text-align: justify;
  font-family: var(--sub-header-font);
  font-style: italic;
  color: var(--text-color);
}

.projectBody2 {
  font-size: medium;
  text-align: justify;
  font-family: var(--sub-header-font);
  color: var(--text-color);
}

/* Carousell Styling */
.carouImage {
  max-height: 300px;
}

.carouVid {
  max-height: 300px;
}

.carousel-indicators {
  filter: invert(1);
}

/* Timeline Styling */

.vertical-timeline-element-icon {
  border-color: var(--accent-color) !important;
}

.vertical-timeline-element-date {
  color: white !important;
  font-size: large !important;
  margin-top: 0px !important;
  font-family: var(--header-font);
}

.vertical-timeline.vertical-timeline--two-columns:before {
  left: 50%;
  margin-left: -2px;
  background: white;
}

.vertical-timeline-element-title {
  font-family: var(--header-font);
  font-size: x-large;
  line-height: 60%;
  color: var(--accent-color);
}

.vertical-timeline-element-subtitle {
  font-family: var(--header-font);
  font-size: larger;
}

.vertical-timeline-element-body {
  font-family: var(--sub-header-font);
  font-size: medium;
  line-height: 95%;
  text-align: justify;
  margin-top: 20px;
}

.skillsRow {
  margin-left: 0 !important;
  margin-top: 5px;
}

.skills {
  font-family: var(--header-font);
  background-color: var(--accent-color); /* Changing background color */
  border-radius: 20px; /* Making border radius */
  width: auto; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  font-size: x-small; /* Changing font size */
  margin: 2px;
  padding: 2px;
  transition: 0.2s;
  color: black;
}

.skills:hover {
  transform: scale(1.05);
  cursor: default;
}

/* Contact Page */

.contactLine {
  font-family: var(--header-font);
  color: var(--text-color);
  font-size: 50px;
  justify-content: center;
  margin-top: 30vh;
}

.contactMe {
  color: var(--accent-color) !important;
  border-style: solid;
  padding: 10px 10px 10px 10px;
  border-color: var(--accent-color);
  font-family: var(--header-font);
  border-radius: 7px;
  font-size: 25px;
  margin-top: 15px;

  background: linear-gradient(
    to right,
    var(--accent-color) 50%,
    var(--primary-color) 50%
  );
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all 0.7s ease-out;
}

.contactMe:hover {
  text-decoration: none;
  background-position: left bottom;
  color: var(--primary-color) !important;
  cursor: pointer;
}

/* About Page */
.aboutContent {
  justify-items: center;
  align-items: center;
  text-align: center;
}

.aboutGrid {
  display: inline-grid;
  grid-template-columns: 50vw 30vw;
  grid-gap: 10vw;
  justify-items: center;
  align-items: center;
}

.aboutImg {
  max-width: 100%;
  transition: 0.3s;
  align-items: center;
  opacity: 0.8;
}

.aboutImg:hover {
  transform: scale(1.1);
  opacity: 1;
}

.aboutText {
  font-family: var(--body-font);
  color: var(--text-color);
  font-size: 20px;
  text-align: justify;
  line-height: 150%;
  margin: 20px 20px 20px 20px;
}

/* Smaller Laptop */
@media screen and (max-width: 1024px) {
  .aboutText {
    font-family: var(--body-font);
    color: var(--text-color);
    font-size: 15px;
    text-align: justify;
    line-height: 150%;
    margin: 20px 20px 20px 20px;
  }

  .aboutContent {
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
  }

  .aboutImg {
    max-width: 100%;
    transition: 0.3s;
    align-items: center;
    opacity: 0.8;
  }

  .aboutText {
    font-family: var(--body-font);
    color: var(--text-color);
    font-size: 20px;
    text-align: justify;
    line-height: 150%;
    margin: 20px 20px 20px 20px;
  }

  .projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-items: center;
    margin-bottom: 50px;
  }

  .projectThumbnail {
    width: 250px;
    height: 250px;
    transition: 0.3s;
    cursor: pointer;
    object-fit: cover;
    opacity: 0.6;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .header {
    font-family: var(--header-font);
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 50px;
    margin-top: -15px;
  }
  .aboutText {
    font-family: var(--body-font);
    color: var(--text-color);
    font-size: 25px;
    text-align: justify;
    line-height: 150%;
    margin: 5px 5px 5px 5px;
  }
  .aboutGrid {
    display: inline-grid;
    grid-template-columns: 80vw;
    grid-gap: 10vw;
    justify-items: center;
    align-items: center;
  }

  .aboutImg {
    max-width: 80%;
    transition: 0.3s;
    align-items: center;
    opacity: 0.8;
  }

  .projectGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    justify-items: center;
    margin-bottom: 50px;
  }

  .projectTitle {
    font-size: large;
  }

  .projectSubtitle {
    font-size: medium;
  }

  .projectBody1 {
    font-size: small;
  }

  .projectBody2 {
    font-size: small;
  }
  .carouImage {
    max-height: 250px;
  }

  .carouVid {
    max-height: 250px;
  }
  .contactLine {
    text-align: center;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .header {
    font-family: var(--header-font);
    font-size: 25px;
    color: var(--text-color);
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .aboutText {
    font-family: var(--body-font);
    color: var(--text-color);
    font-size: 15px;
    text-align: justify;
    line-height: 100%;
    margin: 5px 5px 5px 5px;
  }
  .aboutGrid {
    display: inline-grid;
    grid-template-columns: 80vw;
    grid-gap: 10vw;
    justify-items: center;
    align-items: center;
  }

  .aboutImg {
    max-width: 80%;
    transition: 0.3s;
    align-items: center;
    opacity: 0.8;
  }

  .projectGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin-bottom: 20px;
  }
  .projectThumbnail {
    width: 120px;
    height: 120px;
    transition: 0.3s;
    cursor: pointer;
    object-fit: cover;
    opacity: 0.6;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .projectTitle {
    font-size: medium;
  }

  .projectSubtitle {
    font-size: small;
  }

  .projectBody1 {
    font-size: x-small;
  }

  .projectBody2 {
    font-size: x-small;
  }
  .carouImage {
    max-height: 200px;
  }

  .carouVid {
    max-height: 200px;
  }
  .contactLine {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .contactMe {
    color: var(--accent-color) !important;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    border-color: var(--accent-color);
    font-family: var(--header-font);
    border-radius: 7px;
    font-size: 15px;
    margin-top: 15px;

    background: linear-gradient(
      to right,
      var(--accent-color) 50%,
      var(--primary-color) 50%
    );
    background-size: 300% 100%;
    background-position: right bottom;
    transition: all 0.7s ease-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .vertical-timeline-element-title {
    font-family: var(--header-font);
    font-size: small;
    line-height: 60%;
    color: var(--accent-color);
  }

  .vertical-timeline-element-subtitle {
    font-family: var(--header-font);
    font-size: small;
  }

  .vertical-timeline-element-body {
    font-family: var(--sub-header-font);
    font-size: x-small;
    line-height: 95%;
    text-align: justify;
    margin-top: 10px;
  }
  .vertical-timeline-element-date {
    color: white !important;
    font-size: small !important;
    margin-top: 0px !important;
    font-family: var(--header-font);
  }
  .skills {
    font-family: var(--header-font);
    background-color: var(--accent-color); /* Changing background color */
    border-radius: 20px; /* Making border radius */
    width: auto; /* Making auto-sizable width */
    height: auto; /* Making auto-sizable height */
    font-size: 5px; /* Changing font size */
    margin: 2px;
    padding: 2px;
    transition: 0.2s;
    color: black;
  }
}

/* Fonts*/

@font-face {
  font-family: Brandon Bold;
  src: url(fonts/brandon_bld.otf);
}

@font-face {
  font-family: Brandon Regular;
  src: url(fonts/brandon_reg.otf);
}

@font-face {
  font-family: Print Bold;
  src: url(fonts/print_bold_ot.otf);
}

@font-face {
  font-family: Print Regular;
  src: url(fonts/print_clearly_ot.otf);
}

@font-face {
  font-family: Bolliver;
  src: url(fonts/bolliver.ttf);
}

@font-face {
  font-family: Mont Bold;
  src: url(fonts/MontserratBold-p781R.otf);
}

@font-face {
  font-family: Mont Reg;
  src: url(fonts/MontserratRegular-BWBEl.ttf);
}

@font-face {
  font-family: Mont Thin;
  src: url(fonts/MontserratThin-K7B6D.ttf);
}
